{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

    <h1> Nos Produits </h1>

    <div class="row">

        {% for product in products %}
            
       
            <div class="col">
                <div class="card">

                    {# Image de produit #}
                    <img src="{{ product.mainPicture }}" class="img-fluid" alt="Image correspondant au produit">


                     {# 
                        Body de la carte du produit, cette partie contient :
                            - Le nom du produit
                            - Une description courte
                            - Le boutton pour afficher le détail du produit
                    #}
                    <div class="card-body">

                        <h4 class="card-title">{{ product.name}}</h4>
                        <p class="class-text">{{ product.description|slice(1, 50)~'...' }}</p>
                        <a href="{{ path('product_show', {'slug': product.slug}) }}" class="btn btn-primary bt-sm">Détail</a>

                    </div>

                </div>
            </div>
            
        {% endfor %}
        
    </div>   

{% endblock %}
